[Unit]
Description=MARR SNMP Listener - COM617 Group 15
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/docker exec -i clab-com617-marr-lab-snmp-notifier python3 /opt/snmp_listener.py
ExecStartPre=/bin/sleep 5
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

# Author: Jose Batalha De Vasconcelos - COM617 Group 15
