[defaults]
inventory          = inventory/hosts.yml
host_key_checking  = False
timeout            = 30
stdout_callback    = default
callbacks_enabled  = timer

[persistent_connection]
connect_timeout    = 30
command_timeout    = 30
deprecation_warnings = False
interpreter_python   = auto_silent
collections_path   = ~/.ansible/collections:/usr/share/ansible/collections
